header {
    display: flex;
    justify-content: flex-end; /* Push items to the right */
    align-items: center; /* Center items vertically */
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
    margin: 0 24px; /* Spacing med posameznimi <li>*/
    font-size: 24px; 
    cursor: pointer;
    font-weight: bold;
    color: whitesmoke;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    
}


nav .premium {
    background-color: #92ACE5; 
    color: whitesmoke; 
    font-weight: bold; 
    padding: 10px 10px; 
    border-radius: 5px; 
    border: 3px solid #7186B2; 
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav .premium:hover {
    background-color: whitesmoke;
    color: #000;
    border: #000;
}

nav .profile {
    background-color: transparent; 
    color: whitesmoke; 
    font-weight: bold; 
    padding: 10px 10px; 
    border-radius: 5px; 
    border: 3px solid #92ACE5; 
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav .profile:hover {
    background-color: #92ACE5;
    color: whitesmoke;
    border: 3px solid #7186B2; 

}