.navbar {
  width: 100%;
  height: 4.375rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 12.5rem;
}

.middleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1.875rem;
  font-weight: 1000;
}

.navbar a {
  padding: 0.625rem;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: white;
}

.join {
  font-size: 1.875rem;
  width: auto;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 18.125rem;
  height: 11.25rem;
}

.navAndHeader {
  height: 43.75rem;
  border: 0;
  padding: 0;
  background-image: url(../assets/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: height 0.5s ease;
}

.navAndLogo {
  height: 12.5rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 0.625rem 0.9375rem 0 0.9375rem;
}

@media screen and (max-width: 1200px) {
  .navbar {
    gap: 6.25rem;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar {
    width: 100%;
    height: 4.375rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 6.25rem;
  }

  .middleSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.25rem;
    font-weight: 1000;
  }

  .navbar a {
    padding: 0.625rem;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .join {
    font-size: 1.25rem;
    width: 12.5rem;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    font-weight: 1000;
  }

  .logo {
    width: 12.5rem;
    height: 7.5rem;
    justify-content: left;
    align-items: left;
  }

  .navAndHeader {
    height: 31.25rem;
    border: 0;
    padding: 0;
    background-image: url(../assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navAndLogo {
    height: 12.5rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 0.625rem 0.9375rem 0 0.9375rem;
  }
}

@media screen and (max-width: 768px) {
  .navAndHeader {
    height: 25rem;
  }
}

@media screen and (max-width: 480px) {
  .navAndHeader {
    height: 18.75rem;
  }
}
