:root {
    --mid-bright-blue-color: #414C66;
    --main-bg-color: #101319;
}

.menu {
    background-color: var(--mid-bright-blue-color);
    border-radius: 12px;
    width: max(60%, 310px);
}

.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    border: 2px solid #92ACE5;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 24px 0;
}

.dots:hover {
    fill: #ffffff91;
}

.activeDots {
    transform: rotate(0);
}