:root {
  --mid-bright-blue-color: #414c66;
  --main-bg-color: #101319;
}

.menu {
  background-color: var(--mid-bright-blue-color);
  border-radius: 12px;
  width: max(40%, 310px);
  margin-right: 24px;
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.2);
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr {
  border: 2px solid #92ace5;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 24px 0;
}

.dots:hover {
  fill: #ffffff91;
}
