.loginBox {
  width: 40rem;
  height: 28rem;
  background-color: #252525;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-left: 2rem;
  padding-top: 1rem;
}

.Email,
.Password {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-right: 3rem;
  padding-top: 1rem;
}

.Email input,
.Password input {
  height: 1.8rem;
  width: 100%;
  border-color: gray;
  border-radius: 3%;
  background-color: #252525;
  border-width: 0.1px;
  color: white;
  border-style: solid;
  margin-top: 0.5rem;
}

.SharedDiv {
  display: flex;
  gap: 23rem;
}

.SigninButton {
  width: 38rem;
  height: 2rem;
  border-radius: 3%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #414c66;
}

.textForRouting {
  display: flex;
  gap: 1rem;
}

.SignupButton {
  cursor: pointer;
}

.RememberMe {
  display: flex;
  gap: 0.4rem;
}

@media screen and (max-width: 1200px) {
  .loginBox {
    width: 32rem;
    height: 26rem;
  }

  .SharedDiv {
    display: flex;
    gap: 15rem;
  }

  .SigninButton {
    width: 30rem;
    height: 2rem;
    margin-bottom: 1rem;
  }
}
