.btn {
    width: 68px;
    height: 68px;
    border: 2px solid #EEEEEE;
    border-radius: 24px;
    background-color: #8299CB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    width: 50%;
    height: 50%;
}

.container {
    display: flex;
    justify-content: end;
    padding: 0 20px 20px 0;
}