.navbar {
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  gap: 200px;
}

.middleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Prevzemi preostali prostor */
  gap: 30px;
  font-weight: 1000;
}

.navbar a {
  padding: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.join {
  font-size: 30px;
  width: auto; /* Avtomatska širina glede na vsebino */
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 120px;
}

.navAndHeader {
  height: 700px;
  border: 0;
  padding: 0;
  background-image: url(../assets/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: height 0.5s ease;
}

.navAndLogo {
  height: 200px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 10px 15px 0px 15px;
}

@media screen and (max-width: 1200px) {
  .navbar {
    gap: 50px;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar {
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .middleSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    font-weight: 1000;
  }

  .navbar a {
    padding: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
  }

  .join {
    font-size: 20px;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 1000;
  }

  .logo {
    width: 200px;
    height: 120px;
    justify-content: left;
    align-items: left;
  }

  .navAndHeader {
    height: 500px;
    border: 0;
    padding: 0;
    background-image: url(../assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navAndLogo {
    height: 200px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 10px 15px 0px 15px;
  }
}

@media screen and (max-width: 768px) {
  .navAndHeader {
    height: 400px; /* Še manjša višina za še manjše zaslone */
  }
}

@media screen and (max-width: 480px) {
  .navAndHeader {
    height: 300px; /* Najmanjša višina za majhne telefone */
  }
}
