:root {
  --mid-bright-blue-color: #414c66;
  --main-bg-color: #101319;
}

.menu {
  background-color: var(--mid-bright-blue-color);
  border-radius: 12px;
  width: max(50%, 310px);
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.2);
}

.menuContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    #31394c,
    var(--main-bg-color)
  );
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr {
  border: 2px solid #92ace5;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 24px 0;
}

.horizontalFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dots {
  /* transform: rotate(90deg); */
  animation: derotate-keyframes 1s;
}

.dots:hover {
  fill: #ffffff91;
  cursor: pointer;
}

.activeDots:hover {
  cursor: pointer;
}

.activeDots {
  animation: rotate-keyframes 1s;
}

@keyframes rotate-keyframes {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes derotate-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

.disabled {
  display: none;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.active svg {
  width: 24px;
  height: 24px;
}

.active:hover {
  cursor: pointer;
}

.redText {
  color: #ff0000;
}
